[defaults]
# vault_password_file = .vault.password   # uncomment when you use Ansible Vault (e.g. certs.yml)
inventory = inventory.ini
connection = smart
timeout = 60
deprecation_warnings = False
host_key_checking = False
pipelining=True
forks=100